<div style="max-width: 600px">
<table *ngFor="let productCurrency of productsCurrency; trackBy: trackByIndex" class="table table-striped">
	<thead>
        <tr><td colspan="3">Products ({{productCurrency.currency}})</td></tr>
		<tr>
		    <td>Name</td>
		    <td>Price</td>
		    <td>Type</td>
		</tr>
	</thead>
    <tbody>
        <tr *ngFor="let product of productCurrency.productList; trackBy: trackByIndex">
		    <td>{{product.name}}</td>
		    <td>{{product.price}}</td>
		    <td>{{product.type}}</td>
		</tr>
    </tbody>
</table>
</div>